{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true, // вывод потдерживаемых браузеров
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ]
}
